<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.edbite.geoggooglemap"
version = "0.9.0">
  <name>Google 橫切面</name>
  <description>Contour Map and Cross Section by Google Map</description>
  <author href="http://diy.fwg.hk/groupingwizard/" email="ite@edb.gov.hk">ITE Section of the Education Bureau 教育局資訊科技教育組</author>
  
  <preference name="phonegap-version" value="2.1.0" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="tablet" />
  <preference name="fullscreen" value="false" />
  <preference name="stay-in-webview" value="false" />
  <preference name="show-splash-screen-spinner" value="true" />
  
  
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  
  <!-- ios -->
  <access origin="*" />
  <!--<access origin="http://googleapis.com" subdomains="true" />
  <access origin="http://google.com" subdomains="true" />
  <access origin="http://gstatic.com" subdomains="true" />
  <access origin="http://maps.google.com" subdomains="true" />-->

  
  
</widget>
